{% for line in imports.split("\n")[1:] %}
{{ line.lstrip() }}
{% endfor %}

metadata = {
    "protocolName": "{{ metadata.protocolName }}",
    "author": "{{ metadata.author }}",
    "description": "{{ metadata.description }}",
    "apiLevel": "{{ metadata.apiLevel }}",
}

{% for line in config_code.split("\n") %}
{{ line }}
{% endfor %}

{% for code in function_codes %}
{% for line in code.split("\n") %}
{{ line }}
{% endfor %}
{% endfor %}